<!DOCTYPE html>
<html>
  <head>
    <title>Foodlog f</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
      <h1 class="title">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header"%>
    <%if notice %>
      <p class="notification is-link is-light"><%= notice %></p>
    <%end%>
    <%if alert %>
      <p class="notification is-danger is-light"><%= alert %></p>
    <%end%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
